<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>boolflix official</title>
        <!-- LINK TO FONTAWESOME -->
        <script src="https://use.fontawesome.com/200c567139.js"></script>

        <!-- LINK TO VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

        <!-- LINK TO AXIOSS  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <!-- LINK TO MY CSS -->
        <link rel="stylesheet" href="style.css">

        <!-- LINK TO DATA.JS -->
        <script src="data.js" charset="utf-8"></script>
    </head>
    <body>
        <header>
            <div class="container">
            </div>
        </header>

        <div id="root">

              <input v-on:keydown.enter="getResult()" v-model="query" type="text" name="" value="">
              <button @Click="getResult()" type="button" name="button">Cerca</button>
              <ul class="movies-container container">

                      <li class="movie" v-for="movie in movies">
                            <!-- <img :src="movie.poster_path" alt=""> -->
                            <h3>{{movie.title}}</h3>
                            <h3>{{movie.original_title}}</h3>

                            <div class="stars-container">

                                  <ul class= "star-under">

                                        <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>

                                  </ul>

                                  <ul class="star-over" :style="starWidth(movie.vote_average)">

                                        <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                        <li> <i class="fa fa-star" aria-hidden="true"></i> </li>

                                  </ul>

                            </div>

                            <span class="year">{{movie.vote_average}}</span>
                            <span >{{getFlag(movie.original_language)}}</span>
                      </li>

              </ul>

        </div>


        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
