<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>boolflix official 2</title>
        <!-- LINK TO FONTAWESOME -->
        <script src="https://use.fontawesome.com/200c567139.js"></script>

        <!-- LINK TO VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

        <!-- LINK TO AXIOSS  -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <!-- LINK TO MY CSS -->
        <link rel="stylesheet" href="style.css">

        <!-- LINK TO DATA.JS -->
        <script src="data.js" charset="utf-8"></script>

    </head>

    <body>

    <div id="root">

        <header class="row">

            <nav class="nav-container container">

                  <div class="logo-container" >

                        <img class="boolflix-logo"src="boolflix-logo.png" alt="">
                        <img class="logo easter-logo"src="bool-hub.png" alt="">

                  </div>




                  <div class="input-container">

                        <input v-on:keydown.enter="getResult()" v-model="query" type="text" name="" value="">
                        <button @Click="getResult()"type="button" name="button">Cerca</button>

                  </div>

          </nav>

        </header>

            <!-- MOVIES SECTION -->
            <section class="container">

                      <h1>MOVIES</h1>

                      <div class="row movie-section">

                            <div class="arrow-container" @click="previousMoviesPage()"> <i class="fa fa-angle-left" aria-hidden="true"> </i> </div>

                            <ul id="movies-ul" class="movies-container row">

                                  <li class="movie" v-for="(movie, index) in movies">

                                        <!-- COPERTINA -->
                                        <div class="poster-container">

                                            <img v-if="movie.poster_path" :src="getImage(movie.poster_path)" alt="">

                                            <div  v-else class="subst-img"> <h3>{{movie.title}}</h3> <i class="fa fa-picture-o" aria-hidden="true"></i></div>

                                        </div>

                                        <!-- FILM INFOS -->
                                        <div v-on:mouseover="getMovieCast(movie.id)"class="info-container">

                                              <h3>{{movie.title}}</h3>
                                              <h5>Original title: {{movie.original_title}}</h5>

                                              <p> Overview: {{movie.overview}}</p>

                                              <!-- GENRE LIST -->
                                              <ul class="genreList">GENRES:

                                                  <li v-for="genre in getGenre(movie.genre_ids)"> {{genre}}, </li>

                                              </ul>

                                              <!-- CAST LIST -->
                                              <ul class ="castList"> CAST:

                                                  <li v-for="element in movieCast"> {{element}}, </li>

                                              </ul>

                                              <!-- STAR RATING -->
                                              <div class="stars-container">

                                                    <ul class= "star-under">

                                                          <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>

                                                    </ul>

                                                    <ul class="star-over" :style="starWidth(movie.vote_average)">

                                                          <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                          <li> <i class="fa fa-star" aria-hidden="true"></i> </li>

                                                    </ul>

                                              </div>

                                              <!-- LANGUAGE -->
                                              <span >{{getFlag(movie.original_language)}}</span>

                                        </div>

                                  </li>

                            </ul>

                            <div class="arrow-container" @click="nextMoviesPage()"> <i class="fa fa-angle-right" aria-hidden="true"> </i> </div>

                      </div>

              </section>


              <!-- TV SERIES SECTION -->
              <section class="container">

                        <h1>SERIES</h1>

                        <div class="row movie-section">

                              <div class="arrow-container" @click="previousSeriesPage()"> <i class="fa fa-angle-left" aria-hidden="true"> </i> </div>

                              <ul id="series-ul" class="movies-container row">

                                    <li class="movie" v-for="serie in series">

                                          <div class="poster-container">

                                              <img v-if="serie.poster_path" :src="getImage(serie.poster_path)" alt="">

                                              <div  v-else class="subst-img"> <h3>{{serie.name}}</h3> <i class="fa fa-picture-o" aria-hidden="true"></i></div>


                                          </div>

                                          <div class="info-container" v-on:mouseover="getSeriesCast(serie.id)"class="info-container">

                                                <h3>{{serie.name}}</h3>
                                                <h5>Original title: {{serie.original_name}}</h5>

                                                <p> Overview: {{serie.overview}}</p>

                                                <!-- GENRE LIST -->
                                                <ul class="genreList">GENRES:

                                                    <li v-for="ciccio in getGenre(serie.genre_ids)"> {{ciccio}}, </li>

                                                </ul>

                                                <!-- CAST LIST -->
                                                <ul class ="castList"> CAST:

                                                    <li v-for="element in serieCast"> {{element}}, </li>

                                                </ul>

                                                <div class="stars-container">

                                                      <ul class= "star-under">

                                                            <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star-o" aria-hidden="true"></i> </li>

                                                      </ul>

                                                      <ul class="star-over" :style="starWidth(serie.vote_average)">

                                                            <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star" aria-hidden="true"></i> </li>
                                                            <li> <i class="fa fa-star" aria-hidden="true"></i> </li>

                                                      </ul>

                                                </div>

                                                <span >{{getFlag(serie.original_language)}}</span>

                                          </div>

                                    </li>

                              </ul>

                              <div class="arrow-container" @click="nextSeriesPage()"> <i class="fa fa-angle-right" aria-hidden="true"> </i> </div>

                        </div>

                </section>


        <script src="main.js" charset="utf-8"></script>
    </div>
    </body>
</html>
